Src/WebMoney.Services/Connected Services/SmsServiceReference/smssendersvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSingleSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transliterate" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="wmid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderPursue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTime" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="internalpayment" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="requestSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSingleSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSingleSMSResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="smsID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSMSStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="smsID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wmid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSMSStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSMSStatusResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageCost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstPurseLetter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="packageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="profileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageCostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMessageCostResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSingleSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSingleSMS" />
  </wsdl:message>
  <wsdl:message name="SendSingleSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSingleSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetSMSStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetSMSStatus" />
  </wsdl:message>
  <wsdl:message name="GetSMSStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetSMSStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageCostSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessageCost" />
  </wsdl:message>
  <wsdl:message name="GetMessageCostSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageCostResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsSenderSvcSoap">
    <wsdl:operation name="SendSingleSMS">
      <wsdl:input message="tns:SendSingleSMSSoapIn" />
      <wsdl:output message="tns:SendSingleSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSMSStatus">
      <wsdl:input message="tns:GetSMSStatusSoapIn" />
      <wsdl:output message="tns:GetSMSStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageCost">
      <wsdl:input message="tns:GetMessageCostSoapIn" />
      <wsdl:output message="tns:GetMessageCostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsSenderSvcSoap" type="tns:SmsSenderSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSingleSMS">
      <soap:operation soapAction="http://tempuri.org/SendSingleSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSMSStatus">
      <soap:operation soapAction="http://tempuri.org/GetSMSStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageCost">
      <soap:operation soapAction="http://tempuri.org/GetMessageCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsSenderSvcSoap12" type="tns:SmsSenderSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSingleSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSingleSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSMSStatus">
      <soap12:operation soapAction="http://tempuri.org/GetSMSStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageCost">
      <soap12:operation soapAction="http://tempuri.org/GetMessageCost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsSenderSvc">
    <wsdl:port name="SmsSenderSvcSoap" binding="tns:SmsSenderSvcSoap">
      <soap:address location="https://sms.webmoney.ru/web/ws/smssendersvc.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsSenderSvcSoap12" binding="tns:SmsSenderSvcSoap12">
      <soap12:address location="https://sms.webmoney.ru/web/ws/smssendersvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>